{% load static %}

<div class="main-nav">
    <!-- Sidebar Logo -->
    <div class="logo-box">
        <a href="/" class="logo-dark">
            <img src="{% static 'assets/images/login_logo.ico' %}" class="logo-sm" alt="logo sm">
            <img src="{% static 'assets/images/login_logo.ico' %}" class="logo-lg" alt="logo dark">
            <span class="logo-text">بیم گستر تابان</span>
        </a>
    
        <a href="/" class="logo-light">
            <img src="{% static 'assets/images/login_logo.ico' %}" class="logo-sm" alt="logo sm">
            <img src="{% static 'assets/images/login_logo.ico' %}" class="logo-lg" alt="logo light">
            <span class="logo-text">بیم گستر تابان</span>
        </a>
    </div>
    

    <!-- Menu Toggle Button (sm-hover) -->
    <button type="button" class="button-sm-hover" aria-label="Show Full Sidebar">
        <iconify-icon icon="solar:double-alt-arrow-left-bold-duotone" class="button-sm-hover-icon"></iconify-icon>
    </button>

    <div class="scrollbar" data-simplebar>
        <ul class="navbar-nav" id="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <span class="nav-icon">
                        <iconify-icon icon="solar:widget-5-bold-duotone"></iconify-icon>
                    </span>
                    <span class="nav-text"> داشبورد </span>
                </a>
            </li>
            {% include 'partials/_menu.html' %}
        </ul>
    </div>
</div>
