{% load static %}

<script src="{% static 'assets/js/app.js' %}"></script>
<script src="{% static 'assets/js/layout.js' %}"></script>
<script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/libs/jsvectormap/jsvectormap.min.js' %}"></script>
<script src="{% static 'assets/libs/jsvectormap/maps/world.js' %}"></script>
<script src="{% static 'assets/js/pages/dashboard.js' %}"></script>
<script src="{% static 'assets/js/pages/customer_add.js' %}"></script>
<script src="{% static 'assets/libs/dropzone/min/dropzone.min.js' %}"></script>
<script src="{% static 'assets/libs/nouislider/nouislider.min.js' %}"></script>
<script src="{% static 'assets/libs/wNumb/wNumb.min.js' %}"></script>
<script src="{% static 'assets/js/pages/app-ecommerce-seller-add.js' %}"></script>
<script src="{% static 'assets/js/pages/lists-dropdown-filter.js' %}"></script>
<script src="{% static 'assets/js/pages/clock_dashaboard.js' %}"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-jalaali/0.9.1/moment-jalaali.min.js"></script>
