{% load static %}

<link rel="shortcut icon" href="{% static 'assets/images/favicon.html' %}">
<link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/fontiran.min.css' %}">
<script src="{% static 'assets/js/config.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/libs/nouislider/nouislider.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/libs/choices.js/public/assets/styles/choices.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/pages/dropdown-customize.css' %}">