{% extends "../../base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">     
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="d-flex card-header justify-content-between align-items-center">
                    <div>
                        <h4 class="card-title">اطلاعات اشخاص</h4>
                    </div>
                    {% include 'partials/toolbox.html' %} 
                </div>
                <div>
                    <div class="table-responsive">
                        <form method="get">
                            <table class="table align-middle mb-0 table-hover table-centered">
                                <thead class="bg-light-subtle">
                                    <tr>
                                        <th style="width: 20px;"></th>
                                        <th>ردیف</th>
                                        <th>نوع مشتری</th>
                                        <th>نوع تسویه</th>
                                        <th>تابعیت</th>
                                        <th>نام(فارسی)</th>
                                        <th>نام خانوادگی (فارسی)</th>
                                        <th>نام شرکت (فارسی)</th>
                                        <th>کد گذرنامه ، شناسه ملی ، کد ملی </th>
                                        <th>شماره همراه</th>
                                        <th>تاریخ ایجاد</th>
                                        <th>عملیات</th>
                                    </tr>
                                    <tr>
                                        <th style="width: 20px;">
                                            <input type="checkbox" class="form-check-input" id="filterCheck">
                                        </th>
                                        <th></th>
                                        {% for filter in filters %}
                                        <th>
                                            <div class="dropdown">
                                                <button class="btn btn-sm btn-outline-light rounded dropdown-toggle" type="button" id="{{ filter.id }}Dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                                    {{ filter.label }}
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-end w-200 dropdown-list-menu" aria-labelledby="{{ filter.id }}Dropdown">
                                                    <div class="dropdown-header">
                                                        <input type="text" class="form-control form-control-sm" id="{{ filter.id }}Search" placeholder="جستجو...">
                                                    </div>
                                                    <div class="dropdown-item">
                                                        <button class="btn btn-sm btn-outline-light select-all" type="button" id="selectAll{{ filter.id }}">انتخاب همه</button>
                                                    </div>
                                                    <div class="dropdown-list-section">
                                                        {% for option in filter.options %}
                                                        <div class="dropdown-item dropdown-list-items" data-value="{{ option }}">
                                                            <input type="checkbox" class="form-check-input"> {{ option }}
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                        {% endfor %}
                                        <th>
                                            <input type="text" class="form-control form-control-sm" placeholder="کد گذرنامه ، شناسه ملی ، کد ملی " id="filterNationalCode">
                                        </th>
                                        <th>
                                            <input type="text" class="form-control form-control-sm" placeholder="نام" id="filterFirstName">
                                        </th>
                                        <th>
                                            <input type="text" class="form-control form-control-sm" placeholder="نام خانوادگی" id="filterLastName">
                                        </th>
                                        <th>
                                            <input type="text" class="form-control form-control-sm" placeholder="نام شرکت" id="filterLastName">
                                        </th>
                                        <th>
                                            <input type="text" class="form-control form-control-sm" placeholder="شماره همراه" id="filterLastName">
                                        </th>
                                        <th>
                                            <input type="text" class="form-control form-control-sm" placeholder="تاریخ ایجاد" id="filterLastName">
                                        </th>
                                        <th>
                                            <button type="button" class="btn btn-sm btn-outline-secondary" id="clearFilters">پاک کردن فیلترها</button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for customer in page_obj %}
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="customCheck{{ forloop.counter }}">
                                                <label class="form-check-label" for="customCheck{{ forloop.counter }}"></label>
                                            </div>
                                        </td>
                                        <td>{{ customer.id }}</td>
                                        <td>
                                            <span class="badge {% if customer.customer_type == 1 %}bg-success-subtle text-success{% else %}bg-danger-subtle text-danger{% endif %} py-1 px-2">
                                                {% if customer.customer_type == 1 %}حقیقی{% else %}حقوقی{% endif %}
                                            </span>
                                        </td>
                                        <td>
                                            {% if customer.clearing_type == 1 %}نقدی{% else %}اعتباری{% endif %}
                                        </td>
                                        <td>
                                            {% if customer.nationality == 1 %}ایرانی{% else %}خارجی{% endif %}
                                        </td> 
                                        <td>{{ customer.name_fa }}</td> <!-- نام (فارسی) -->
                                        <td>{{ customer.family_fa }}</td> <!-- نام خانوادگی (فارسی) -->
                                        <td>{% if customer.company_fa == None %}-{% else %}{{ customer.company_fa }}{% endif %}</td> <!-- نام شرکت (فارسی) -->
                                        <td>
                                            {% if customer.passport %}
                                            شماره گذرنامه : {{ customer.passport }} 
                                            {% elif customer.national_code %}
                                            شناسه ملی : {{ customer.national_code }}
                                            {% else %}
                                            کد ملی : {{ customer.national_id }}
                                            {% endif %}
                                        <td>{{ customer.mobile }}</td>
                                        <td>{{ customer.created_at}}</td>
                                        <td>
                                            <div class="d-flex gap-2">
                                                <a href="{% url 'customer_detail' customer.id %}" class="btn btn-light btn-sm">
                                                    <iconify-icon icon="solar:eye-broken" class="align-middle fs-18"></iconify-icon>
                                                </a>
                                                <a href="{% url 'customer_edit' customer.id %}" class="btn btn-soft-primary btn-sm">
                                                    <iconify-icon icon="solar:pen-2-broken" class="align-middle fs-18"></iconify-icon>
                                                </a>
                                                <a href="#" class="btn btn-soft-danger btn-sm"  data-bs-toggle="modal" data-bs-target="#exampleModal" id="deleteButton">
                                                    <iconify-icon icon="solar:trash-bin-minimalistic-2-broken" class="align-middle fs-18"></iconify-icon>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% include 'partials/_deleteModal.html' %} 
                                    {% endfor %}

                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="card-footer border-top">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end mb-0">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">قبلی</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">قبلی</a>
                                </li>
                            {% endif %}
                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <li class="page-item active">
                                        <a class="page-link" href="#">{{ num }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">بعدی</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">بعدی</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
