{% extends "../../base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <form id="customerForm" method="POST" action="{% url 'customer_add' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header customer-add"><h4 class="card-title">اطلاعات مشتریان</h4></div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="customer-type" class="form-label">نوع مشتری</label>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="form-check ps-4">
                                        <input type="radio" class="form-check-input rounded-circle mt-0 fs-18"  value="real" name="customer-type" id="customer-real" checked>
                                        <label class="form-check-label" for="customer-real">حقیقی</label>
                                    </div>
                                    <div class="form-check ps-4">
                                        <input type="radio" class="form-check-input rounded-circle mt-0 fs-18" value="legal" name="customer-type" id="customer-legal">
                                        <label class="form-check-label" for="customer-legal">حقوقی</label>
                                    </div>
                                </div>
                            </div>
                            <!-- Nationality -->
                            <div class="col-lg-4">
                                <label for="nationality" class="form-label">تابعیت</label>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="form-check ps-4">
                                        <input type="radio" class="form-check-input rounded-circle mt-0 fs-18" value="iranian" name="nationality" id="iranian" checked>
                                        <label class="form-check-label" for="iranian">ایرانی</label>
                                    </div>
                                    <div class="form-check ps-4">
                                        <input type="radio" class="form-check-input rounded-circle mt-0 fs-18" value="foreign" name="nationality" id="foreign">
                                        <label class="form-check-label" for="foreign">خارجی</label>
                                    </div>
                                </div>
                            </div>
                            <!-- Payment Type -->
                            <div class="col-lg-4">
                                <label for="payment-type" class="form-label">نوع تسویه</label>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="form-check ps-4">
                                        <input type="radio" class="form-check-input rounded-circle mt-0 fs-18" value="cash" name="payment-type" id="cash" checked>
                                        <label class="form-check-label" for="cash">نقدی</label>
                                    </div>
                                    <div class="form-check ps-4">
                                        <input type="radio" class="form-check-input rounded-circle mt-0 fs-18" value="credit" name="payment-type" id="credit">
                                        <label class="form-check-label" for="credit">اعتباری</label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="mb-1"></div>
                            <!-- Name Fields (Persian and English) -->
                            <div class="col-lg-6" id="first-name-container">
                                <div class="mb-2"></div>
                                <label for="first-name" class="form-label">نام(فارسی)</label>
                                <input type="text" id="first-name" class="form-control" name="first-name" placeholder="نام را وارد کنید" />
                            </div>
                            <div class="col-lg-6" id="last-name-container">
                                <div class="mb-2"></div>
                                <label for="last-name" class="form-label">نام خانوادگی(فارسی)</label>
                                <input type="text" id="last-name" class="form-control" name="last-name" placeholder="نام خانوادگی را وارد کنید" />
                            </div>
                            <div class="col-lg-6" id="first-name-en-container">
                                <div class="mb-2"></div>
                                <label for="first-name-en" class="form-label">نام(انگلیسی)</label>
                                <input type="text" id="first-name-en" class="form-control" name="first-name-en" placeholder="نام را به انگلیسی وارد کنید" />
                            </div>
                            <div class="col-lg-6" id="last-name-en-container">
                                <div class="mb-2"></div>
                                <label for="last-name-en" class="form-label">نام خانوادگی(انگلیسی)</label>
                                <input type="text" id="last-name-en" class="form-control" name="last-name-en" placeholder="نام خانوادگی را به انگلیسی وارد کنید" />
                            </div>
                            <div class="col-lg-4" id="national-code-container">
                                <div class="mb-2"></div>
                                <label for="national-code" class="form-label" id="id-label">کد ملی</label>
                                <div class="input-group mb-1">
                                    <span class="input-group-text fs-20"><iconify-icon icon="solar:user-bold" class="fs-20"></iconify-icon></span>
                                    <input type="text" id="national-code" class="form-control" name="national-code" placeholder="کد ملی را وارد کنید" />
                                </div>
                            </div>
                            <div class="col-lg-4" id="birth-date-container">
                                <div class="mb-2"></div>
                                <label for="birth-date" class="form-label">تاریخ تولد</label>
                                <div class="input-group mb-1">
                                    <span class="input-group-text fs-20"><iconify-icon icon="solar:calendar-linear" class="fs-20"></iconify-icon></span>
                                    <input type="date" id="birth-date" class="form-control" name="birth-date" placeholder="تاریخ تولد" />
                                </div>
                            </div>
                            <div class="col-lg-4" id="phone-number-container">
                                <div class="mb-2"></div>
                                <label for="phone-number" class="form-label">شماره همراه</label>
                                <div class="input-group mb-1">
                                    <span class="input-group-text fs-20"><iconify-icon icon="solar:outgoing-call-rounded-bold-duotone" class="fs-20"></iconify-icon></span>
                                    <input type="text" id="phone-number" class="form-control" name="phone-number" placeholder="شماره همراه" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header"><h4 class="card-title">سایر اطلاعات</h4></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="email" class="form-label">ایمیل</label>
                                <div class="input-group mb-1">
                                    <span class="input-group-text fs-20">
                                        <iconify-icon icon="solar:letter-bold-duotone" class="fs-18"></iconify-icon>
                                    </span>
                                    <input type="text" id="email" class="form-control" name="email" placeholder="ایمیل را اضافه کنید" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label for="zipcode" class="form-label">کد پستی</label>
                                <div class="input-group mb-1">
                                    <span class="input-group-text fs-20">
                                        <iconify-icon icon="solar:mailbox-outline" class="fs-18"></iconify-icon>
                                    </span>
                                    <input type="text" id="zipcode" class="form-control" name="zipcode" placeholder="کد پستی را اضافه کنید" />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <label for="address" class="form-label">آدرس</label>
                                <div class="input-group mb-1">
                                    <span class="input-group-text fs-20"><iconify-icon icon="solar:point-on-map-bold-duotone" class="fs-18"></iconify-icon></span>
                                    <input type="text" id="address" class="form-control" name="address" placeholder="آدرس را اضافه کنید" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-3 bg-light mb-1 rounded">
                    <div class="row justify-content-end g-2">
                        <div class="col-lg-2">
                            <button type="submit" class="btn btn-outline-secondary w-100">ذخیره تغییرات</button>
                        </div>
                        <div class="col-lg-2">
                            <a href="{% url 'customer_list' %}" class="btn btn-primary w-100">لغو</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}



